body {
	background-color: bebbe4
}

h1 {
	color: #37336e;
	text-align: center;
	font-family: Candara, Helvetica, Arial, Sans-serif;
}

h2 {
	color: #7b76b4;
	text-align: center;
	font-family: Candara, Helvetica, Arial, Sans-serif;
}

p {
	color: #6b89a9;
	font-family: Candara, Helvetica, Arial, Sans-serif;
	font-size: 20px;
}

.leftfloat {
  float: left;
  padding: 30px;
}

.rightfloat {
 float: right;
 padding: 30px;
}

.box {
	margin: 12px;
	border: 2px solid #8e6faf;
	padding: 4px;
	background-color: #4b2d68;
  }